.card{
    background-color: lightgray;
    border: 1px solid #cccccc;
    box-shadow: 2px 2px 2px #cccccc;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: translateY(-3px);
}
