body {
    background-color: #f0f2f5;
}

form {
    margin-top: 5%;
    margin-left: 25%;
    display: block;
    width: 700px;
    justify-content: center;
    text-align: center;
    border: 1px solid #cccccc;
    box-shadow: 3px 3px 3px #cccccc;
    border-radius: 10px;
    background-color: white;
}

label,
input {
    font-size: 23px;

}

input[type="text"],
input[type="password"] {
    width: 96%;
    align-self: center;
    padding: 8px 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-left: 2%;
    margin-right: 2%;
}

.row-align {
    display: flex;
    align-items: flex-start;
    margin-left: 2%;
    margin-right: 2%;
}

input[type="submit"] {
    width: 20%;
    background-color: #2d69d6; /* change the color to green */
    color: #ffffff;
    font-size: 14px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5%;
}

input[type="submit"]:hover {
    background-color: #2554b0;
}

.error-popup {
    position: fixed;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1;
}

form:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}